html,
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  box-sizing: border-box;
  min-width: 320px;
}

body {
  position: relative;
  //overflow-x: hidden;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  //justify-content: center;
}

button {
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a:focus,
.button:focus,
.button.alt:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}

p{
  margin: 0;
}