.about-us {
  padding-top: 120px;
  padding-bottom: 120px;
}

.sides-pad{
  padding-right: 200px;
  padding-left: 200px;
}

.about-content {
  position: relative;
}

.heading-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .heading {
    color: map-get($colors, txt-dark);
    font-weight: 700;
    font-size: 56px;
    line-height: 49px;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:before {
      content: '';
      width: 50px;
      height: 50px;
      display: inline-block;
      background-image: url(../../img/logo.svg);
      @include bg-img;
      margin-right: 14px;
    }
  }

  & .heading-about {
    font-weight: 800;
    font-size: 82px;
    line-height: 98px;
    color: map-get($colors, title-gray);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    justify-content: flex-end;

    &:before {
      content: '';
      height: 2px;
      width: 675px;
      display: block;
      background-color: map-get($colors, txt-black);

    }
  }
}

.about-box {
  display: flex;
  flex-direction: column;

  &__item {
    color: map-get($colors, txt-dark);

    & .content-title {
      font-weight: 800;
      font-size: 47px;
      line-height: 59px;
      padding-bottom: 25px;

      & .text-thin {
        font-weight: 600;
        font-size: 47px;
        line-height: 59px;
      }
    }

    & .content-subtitle {
      font-weight: 600;
      font-size: 32px;
      line-height: 45px;
    }
  }

  &__item:first-child {
    padding: 150px 0;
    align-self: flex-end;
    max-width: 650px;


  }

  &__item:last-child {
    padding-top: 120px;
    padding-bottom: 126px;
    align-self: flex-start;
    max-width: 950px;
  }
}

.about-layer {
  position: absolute;
  width: 100%;
  height: 100%;

  &__item {
    position: absolute;
    @include bg-img;
  }

  & .pattern {
    top: 394px;
    left: -260px;
  }

  & .rect {
    top: 140px;
    left: 0;
    background-color: map-get($colors, bg-gold);
    opacity: .3;
    width: 278px;
    height: 388px;
    border-bottom-left-radius: 110px;
    border-top-right-radius: 110px;
  }

  & .tableware {
    width: 388px;
    height: 306px;
    top: 220px;
    left: 38px;
    background-image: url(../../img/tableware.svg);

  }

  & .spoons {
    width: 287px;
    height: 384px;
    right: 0;
    bottom: 0;
    background-image: url(../../img/spoons.svg);

  }
}


