.goods {
  padding-top: 120px;
}

.goods {
  & .heading-about {
    &:before {
      width: 530px;
    }
  }
}

.cards-wrap {
  padding: 64px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  width: 280px;
  height: 400px;
  margin-right: 25.75px;
  margin-bottom: 20px;
  position: relative;
}

.card:nth-child(5n+5) {
  margin-right: 0;
  align-self: flex-end;
}

.card-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: map-get($colors, bg-red);
  z-index: -1;
  opacity: .3;
  border-bottom-left-radius: 120px;
  border-top-right-radius: 120px;
}

.card:nth-child(3n+2) {
  & .card-bg {
    background-color: map-get($colors, bg-gold);
  }
}

.card:nth-child(3n+3) {
  & .card-bg {
    background-color: map-get($colors, bg-green);
  }
}

.card-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.desk-card {
  left: 0;
  transform: translate(0, -50%);
}

.product {
  color: map-get($colors, txt-dark);
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  padding: 24px 0 0 16px;
}

.card-btn {
  position: absolute;
  bottom: 24px;
  right: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: map-get($colors, txt-dark);
  width: 123px;
  height: 40px;
  border: 1px solid map-get($colors, txt-dark);
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}